@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                family: "#{$style-name}", #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
};

@include font-face('raleway light', 'raleway-light-webfont','raleway-light', 'sans-serif');

*{
    text-decoration:none;
    list-style-type:none;
    margin: 0;
    font-family: 'raleway light', sans-serif;
}

html,body{
    width:100%;
    height:100%;
}

.header{
    position:relative;
    h1{
        color:#fff;
        font-size:100px;
        background: rgba(100,100,100,0);
        width:350px;
        text-align:center;
        position:absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
}

#particles-js {
  width: 100%;
  height: 650px;
  background: #202020; } 

    #particles-js{
        width:100%;
        height:50%;
        background:#1C1F26;
        
    }   

.about{
    width:100%;
    height:75%;
    .bcg{
        width:100%;
        height:100%;
        background:url("../img/autobahn.jpg") fixed center no-repeat;      
    }
    h1{
        font-size:75px;
        padding:10px 0 20px 0; 
    }
    p{
        font-size:25px;
        margin-top:-15px;
    }
    h1, p{
        color:#000;
        text-align:center;
        width:50%;
        height:70px;
        background: rgba(255,255,255,.2);
        margin-left: auto;
        margin-right:auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.work{
    width:100%;
    height:50%;
    background:#5e1f20;
}

.full-wrapper{
    width:100%;
    height:auto;
    top:50%;
    transform: translateY(-50%);
    position:relative;    
    h1,p{
        text-align:center;
        margin-bottom:75px;
        color:#fff;

    }
}

.one-fourth{
   width:23%;
   display:inline-block;
   padding:10px;
   p,h3{
    text-align:center;
    color:#fff;
   }
   p{
    font-size:12px;
   }
   img{
    vertical-align:center;
    display:block;
    margin: 0 auto;
    padding-bottom: 10px;
   }
}

.bye{
    width:100%;
    height:100%;
    background:url("../img/venice.jpg") fixed center no-repeat;
     .end{
        width:100%;
        height:100%;
        h1{
            font-size:75px;
            margin-bottom:-25px;
        }
        h1,p{
            text-align:center;
            color:#fff;
            background:rgba(0,0,0,.7);
            padding:10px;
            width:50%;
            margin-left:auto;
            margin-right:auto;
            top:50%;
            transform:translateY(-50%);
            position:relative;
            padding:20px;
        }
     }
}

.social{
    width:100%;
    height:3%;
    background:#4cccc1;
    ul{
        display:block;
        text-align:center;
        position:relative;
        top:35%;

    }
    li{
        display:inline-block;
    }
    i{
        color:#ff8534;
        transition:color 0.5s ease;   
    }
    i:hover{
        color:#024039;
    }
}



