@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "fonts/" + $family + "/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                family: "#{$style-name}", #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
};

@include font-face('raleway light', 'raleway-light-webfont','raleway-light', 'sans-serif');

*{
    text-decoration:none;
    list-style-type:none;
    margin: 0;
    font-family: 'raleway light', sans-serif;
}

html,body{
    width:100%;
    height:100%;
}

.wrapper{
    width:100%;
    height:100%;
}

.header{
    position:relative;
    h1{
        color:#fff;
        font-size:100px;
        background: rgba(100,100,100,0);
        width:350px;
        text-align:center;
        position:absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
}

#particles-js {
  width: 100%;
  height: 650px;
  background: #202020; } 

    #particles-js{
        width:100%;
        height:650px;
        background:#1C1F26;
        
    }   

.about{
    width:100%;
    height:75%;
    background:url("../img/autobahn.jpg") fixed center repeat;
    h1{
        font-size:75px;
        padding:10px 0 20px 0; 
    }
    p{
        font-size:25px;
        margin-top:-15px;
    }
    h1, p{
        color:#000;
        text-align:center;
        width:50%;
        height:70px;
        background: rgba(255,255,255,.2);
        margin-left: auto;
        margin-right:auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}




